.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown__dropbox {
    position: absolute;
    max-width: 260px;
    border-radius: 4px;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.40);;
}

.dropdown__box {
    margin: 0;
    padding: 12px 0;
}

.dropdown__box__item {
    padding: 4px 12px;
    list-style: none;
    cursor: pointer;
}

.dropdown__box__item:hover {
    background-color: rgba(0,0,0,0.04);
}

